@import "../../../colors.styl"

.nextAthleteBtn, .prevAthleteBtn
    border none
    margin 0
    background-color: $quinary-color
    top 45%
    position fixed
    width 50px
    height 50px
    border-radius 50%

.nextAthleteBtn
    right 5%

.nextAthleteBtn:after
    content ""
    position absolute
    top 10px
    left 16px
    border-top 15px solid transparent
    border-bottom 15px solid transparent
    border-left 25px solid white

.nextAthleteBtn:hover, .prevAthleteBtn:hover
    background-color: $quarternary-color

.prevAthleteBtn
    left 5%

.prevAthleteBtn:after
    content ""
    position absolute
    top 10px
    left 10px
    border-top 15px solid transparent
    border-bottom 15px solid transparent
    border-right 25px solid white

@media screen and (max-width: 900px)
    .switchAthleteButtons
        position relative

    .nextAthleteBtn, .prevAthleteBtn
        position absolute
        top 10px

    .nextAthleteBtn
        right 10px

    .prevAthleteBtn
        right 80px
        left auto


@media screen and (max-width: 550px)
    .switchAthleteButtons
        position static
        background-color red
        top 0

    .nextAthleteBtn, .prevAthleteBtn
        transform: scale(0.5);
        top 0

    .nextAthleteBtn
        right 10px

    .prevAthleteBtn
        right auto
        left 10px

