@import "../../colors.styl"

.c-hints
    .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color $primary-color

    .content
        display flex
        flex-direction row
        justify-content space-between

.column
    display flex
    flex-direction column

.hintHeader
    font-weight bold
