@import "../../commonStyle.styl"

.c-hints
    .header
        font-family $header-font
        color $primary-color

    .content
        display flex
        flex-direction row
        justify-content space-between

.column
    display flex
    flex-direction column

.hintHeader
    font-weight bold
