@import "../../../commonStyle.styl"

.tabs .activeTab
    border-bottom 1px solid $senary-color

.tab
    margin-right 10px
    font-weight bold
    color $secondary-color
    padding 5px
    border 1px solid $primary-color

.tabs
    padding 5px
    border-bottom 1px solid $primary-color
