@import "../../colors.styl"

.c-overview
    .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color $primary-color
        position relative
    .label
        padding-right 5px
        font-weight bold
        font-family "Josefin Sans", Helvetica, sans-serif
    .bio
        line-height: 1.4
    .bio, .skillset
        margin-top 5px
    .list-item
        margin 3px 0
