@import "../../commonStyle.styl"

.c-overview
    .header
        font-family $header-font
        color $primary-color
        position relative
    .label
        padding-right 5px
        font-weight bold
        font-family $header-font
    .bio
        line-height: 1.4
    .bio, .skillset
        margin-top 5px
    .list-item
        margin 3px 0
    .skillset
        padding 10px
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-around
    .skill
        display inline
        margin 7px
    img
        width 80px
        height auto
    figcaption
        display inline
        position relative
        top 20px
        right 45px
        font-size 18px
    .bestSkill
        color green
    .worstSkill
        color red
