$primary-color = #172B4D // headers
$secondary-color = #344563 // name of athlete
$tertiary-color = #0052CC  // borders of main photo
$quarternary-color = #42526E // color of text
$quinary-color = #EBECF0 // main border
$senary-color = #FAFBFC // bakcground
